services:
# ------------------- Base de donnees Postgress ---------------
    db:
      image: postgres:15
      container_name: postgres_db
      restart: always
      environment: 
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: password1234
        POSTGRES_DB: translation
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U postgres"]
        interval: 5s
        timeout: 5s
        retries: 5
      networks:
      - app-network
# ----------------- backend fastApi ------------
    backend:
      build: .
      container_name: plateforme_backend
      ports:
        - "8000:8000"
      env_file:
        - ./.env.docker
      depends_on:
          db:
            condition: service_healthy
      networks:
          - app-network
# ------------------- Frontend Next.js -----------------
    frontend:
      build: ../plateforme-de-traduction-s-curis-e-frontend-
      container_name: plateforme_frontend
      ports:
        - "3000:3000"
      depends_on:
        - backend
      networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge